[submodule "fairseq"]
	path = submodules/fairseq
	url = https://github.com/facebookresearch/fairseq.git
[submodule "uroman"]
	path = submodules/uroman
	url = git@github.com:isi-nlp/uroman.git
[submodule "submodules/torchtune"]
	path = submodules/torchtune
	url = https://github.com/pytorch/torchtune.git
[submodule "tuna-lm"]
	path = tuna-lm
	url = git@github.com:anilkeshwani/tuna-lm.git
